{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard {{ user.username }}</h1>
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-4">
      <button> Schedule a Lesson </button>
    </div>
    <div class = "col-4">
      <button> View My Classes </button>
    </div>
    <div class = "col-4">
      <button> View My Tutor </button>
    </div>
  </div>
  <div class = "row">
    <div class = "col-4">
      <button> Change a Booking </button>
    </div>
    <div class = "col-4">
      <button> Lesson Invoices </button>
    </div>
    <div class = "col-4">
      <button> Contact Support </button>
    </div>
  </div>
</div>
{% endblock %}