
{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="dashboard-container">
        <p class="custom-header">
          Welcome to your dashboard {{ user.username }}
        </p>
        <p class="custom-text">
          Here you can check bookings and support requests
          -- This is the admin interface for CodeTutors
        </p>
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">View a Booking</h5>
          <p class="card-text">Click here to see all student-tutor bookings</p>
          <a href="view_bookings" class="btn btn-outline-primary w-100">View a Booking</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a Booking</h5>
          <p class="card-text">Click here to create a new lesson booking</p>
          <a href="create_booking" class="btn btn-outline-secondary w-100">Create a Booking</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Admin Users</h5>
          <p class="card-text">Click here to view and edit admin users</p>
          <a href="#" class="btn btn-outline-success w-100">Manage Admin</a>
        </div>
      </div>
    </div>
    </div>


    <div class="row mb-4">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">Click here to see all student invoices and due dates</p>
          <a href="#" class="btn btn-outline-danger w-100">View Invoices</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Students</h5>
          <p class="card-text">Click here to see all students and make changes</p>
          <a href="#" class="btn btn-outline-warning w-100">Edit / View a User</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage Tutors</h5>
          <p class="card-text">Click here to see all tutors and make changes</p>
          <a href="#" class="btn btn-outline-info w-100">View Support Requests</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
 %}
