
{% extends 'base.html' %}
{% block body %}
  <div class="home-container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="home-card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Code Tutors</h1>
          <p class="cover-text"> This is a website for managing the code tutors booking system. </p>
          <p class="cover-text"> Made by Team Hippopotamus</p>
          <p>
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-outline-dark">
              Sign up
            </a>
          </p>
          <p>
            <a href='{% url 'log_in' %}' class="btn btn-lg btn-outline-dark">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

