{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Outstanding invoices.</h1>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th><a href="?sortby=student">Student</a></th> <!-- Sort links -->
      <th><a href="?sortby=year">Year</a></th>
      <th><a href="?sortby=amount">Amount</a></th>
      <th>Manage</th>
    </tr>

    <!--Display each entry of Invoices in table format-->
    <tr>
      <td>noah</td>
      <td>2024</td>
      <td>1000000</td>
      <td>
        <!-- Form button to call mark_as_paid urlpath -->
          <button type="submit" class="btn btn-warning">Mark as Paid.</button>
      </td>
    </tr>

    {% for invoice in invoiceData%}
      {% if invoice.paid == False %} <!-- Only display outstanding invoices, meaning paid != True -->
        <!--Display each entry of Invoices in table format-->
        <tr>
          <td>{{invoice.student.full_name}}</td>
          <td>{{invoice.year}}</td>
          <td>{{invoice.amount}}</td>
          <td>
            <!-- Form button to call mark_as_paid urlpath -->
            <form action="{% url 'pay_invoice' invoice.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning">Mark as Paid.</button>
            </form>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

{% endblock %}
