{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="dashboard-container">
        <p class="custom-header">
          Welcome to your dashboard {{ user.username }}
        </p>
        <p class="custom-text">
          Here you can check info on your students and see your scheduled lessons!
          -- This is a tutor dashboard
        </p>
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">View my Schedule</h5>
          <p class="card-text">Click here to view all my scheduled lessons</p>
          <a href="{% url 'my_bookings' %}" class="btn btn-outline-primary w-100">View Schedule</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update my Skills</h5>
          <p class="card-text">Click here to update your tutoring skills</p>
          <a href="{% url 'view_requests' %}" class="btn btn-outline-secondary w-100">Update Skills</a>
        </div>
      </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">View my Students</h5>
          <p class="card-text">Click here to see info on your assigned students</p>
          <a href="#" class="btn btn-outline-success w-100">View Students</a>

        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
