{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>All Users</h1>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>User Type</th>
    </tr>

    {% for each_admin in admin %}
    <!--Display all admin-->
    <tr>
        <!-- Base Data -->
        <td>{{each_admin.username}}</td>
        <td>{{each_admin.first_name}}</td>
        <td>{{each_admin.last_name}}</td>
        <td>{{each_admin.email}}</td>
        <td>Admin</td>
        <!-- Manage Buttons -->
        <td>
          <a href="{% url 'update_user' each_admin.id %}" class="btn btn-warning">Edit</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm{{ each_admin.id }}">Delete</button>
        </td>
        <!-- Repeating Modal for delete button -->
      <div class="modal fade" id="deleteConfirm{{ each_admin.id }}" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete User</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this user and all of their data?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- Form button to call delete booking urlpath -->
              <form action="{% url 'delete_user' each_admin.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {% endfor %}

    {% for student in students %}
    <!--Display all students-->
    <tr>
      <!-- Base Data -->
      <td>{{student.username}}</td>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.email}}</td>
      <td>Student</td>
      <!-- Manage Buttons -->
      <td>
        <a href="{% url 'update_user' student.id %}" class="btn btn-warning">Edit</a> 
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm{{ student.id }}">Delete</button>
      </td>
      <!-- Repeating Modal for delete button -->
    <div class="modal fade" id="deleteConfirm{{ student.id }}" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user and all of their data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- Form button to call delete booking urlpath -->
            <form action="{% url 'delete_user' student.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </tr>
    {% endfor %}

    {% for tutor in tutors %}
    <!--Display all tutors-->
    <tr>
      <!-- Base Data -->
      <td>{{tutor.username}}</td>
      <td>{{tutor.first_name}}</td>
      <td>{{tutor.last_name}}</td>
      <td>{{tutor.email}}</td>
      <td>Tutor</td>
      <!-- Manage Buttons -->
      <td>
        <a href="{% url 'update_user' tutor.id %}" class="btn btn-warning">Edit</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm{{ tutor.id }}">Delete</button>
      </td>
      <!-- Repeating Modal for delete button -->
    <div class="modal fade" id="deleteConfirm{{ tutor.id }}" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user and all of their data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- Form button to call delete booking urlpath -->
            <form action="{% url 'delete_user' tutor.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}