{% extends 'base_content.html' %}
{% block content %}
<body>
    <h3>Booking Requests</h3>
    <button type = 'button' class="btn btn-outline-secondary position-absolute top-0 end-0">Create a new request</button>
    <table class = "table">
        <thead class ='thead-light'>
            <tr>
                <th scope="col">Request ID</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Skill</th>
                <th scope="col">Difficulty level</th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.student.username }}</td>
            <td>{{ item.student.last_name }}</td>
            <td>{{ item.student.first_name }}</td>
            <td>{{ item.get_subject_display }}</td>
            <td>{{ item.get_difficulty_display }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}
