{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>All upcoming bookings.</h1>
    </div>
    <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-outline-info btn-lg"><a href="{% url 'create_booking' %}" class="button">Create a new Booking</a></button>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th><a href="?sortby=date">Date</a></th> <!-- Sort links -->
      <th><a href="?sortby=time">Time</a></th>
      <th><a href="?sortby=tutor">Tutor</a></th>
      <th><a href="?sortby=student">Student</a></th>
      <th><a href="?sortby=subject">Subject</a></th>
      <th><a href="?sortby=difficulty">Difficulty</a></th>
      <th>Manage</th>
    </tr>

    {% for confirmedBooking in bookingData%}
    <!--Display each entry of Confirmed Bookings in table format-->
    <tr>
      <!-- Base Data -->
      <td>{{confirmedBooking.booking_date}}</td>
      <td>{{confirmedBooking.booking_time}}</td>
      <td>{{confirmedBooking.tutor.full_name}}</td>
      <td>{{confirmedBooking.booking.student.full_name}}</td>
      <td>{{confirmedBooking.booking.subject}}</td>
      <td>{{confirmedBooking.booking.difficulty}}</td>

      <!-- Manage Buttons -->
      <td>
        <a href="" class="btn btn-warning">Edit</a> /
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm{{ confirmedBooking.id }}">Delete</button>
      </td>
      <!-- REPLACE HREF FOR EDIT WITH: { url 'update_booking' confirmedBooking.id} using %-->

      <!-- Repeating Modal for delete button -->
      <div class="modal fade" id="deleteConfirm{{ confirmedBooking.id }}" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteConfirmLabel">Delete Booking</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to cancel this booking and delete all of its data? This cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- Form button to call delete booking urlpath -->
              <form action="{% url 'delete_booking' confirmedBooking.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}